[submodule "bundle/peaksea"]
	path = bundle/peaksea
	url = https://github.com/vim-scripts/peaksea.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
